html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    color-scheme: only light;
}

html, body {
    background-color: #fff;
}

::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
}